name: build-on-command

on:
  workflow_dispatch:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    if: "contains(github.event.head_commit.message, '[build]') || github.event_name == 'workflow_dispatch'"

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 16
      uses: actions/setup-java@v2.1.0
      with:
        java-version: 16
        distribution: adopt-hotspot
    - name: Build with Gradle
      run: ./gradlew jar
    - name: Upload build artifacts
      uses: actions/upload-artifact@v1
      with:
        name: build-artifacts
        path: build/libs
